@form-itemheight: 24px;

#mainpage {
  padding: 8px 8px 8px 8px;
  width: 1280px;
  margin: auto;
}

#main-menu li {
  display: inline;
  padding: 0px 3px 0px 3px;
}

/* flexbox */
.form-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  height: @form-itemheight;
  margin: 0 0 12px 0;
  padding: 0 0 0 0;
}

.form-input-item-label {
  text-align: right;
  align-self: baseline;
  width: 90px;
  padding: 0 4px 0 0;
}
.form-input-item input {
  width: 150px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  height: @form-itemheight;
  width: 260px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.button-item {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
