body {
  font-family: Arial, Helvetica, sans-serif;
}
#header {
  background: #C0C0C0;
  padding: 8px;
  margin-bottom: 14px;
}
.pagetitle {
  font-size: 20px;
  margin: 0;
}
.strapline {
  font-size: 14px;
  font-style: italic;
}
.pageheading {
  font-size: 16px;
}
.active {
  color: #404040;
}
.link {
  text-decoration: none;
}
.footer {
  margin: 18px 0 0 0;
  padding: 8px 0 0 0;
  background: #C0C0C0;
  vertical-align: top;
  text-align: center;
  color: #404040;
  height: 50px;
}
.form-container-l,
.form-container-r,
.form-container-u {
  background: #F8F8FF;
  border: 1px solid #D0D0D0;
}
#fmsubmbtn {
  font: bold 14px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}
.form-container-l-label,
.form-container-r-label,
.form-container-u-label {
  background: #E8E8EF;
  height: 22px;
}
.main-menu-item {
  display: inline;
  background: #D0D0D0;
  padding: 8px 8px 8px 8px;
  margin: 0 8px 0 0;
  height: 24px;
  /*  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;*/
  border-radius: 6px;
}

.strapline {
  margin-left: 12px;
}
#mainpage {
  padding: 4px 8px 8px 8px;
  width: 1280px;
  margin: auto;
}
#main-menu {
  margin: 0;
}
/*
#main-menu div {
  display: inline;
  padding: 0px 3px 0px 3px;

}
*/
/* flexbox */
.form-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  height: 24px;
  margin: 0 0 12px 0;
  padding: 0 0 0 0;
}
.form-input-item-label {
  text-align: right;
  align-self: baseline;
  width: 82px;
  padding-right: 4px;
}
.form-input-item input {
  width: 150px;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  /*  height:  @form-itemheight; */
  width: 245px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.button-container-ld {
  display: flex;
  justify-content: flex-end;
  /*  height: @form-itemheight;
  height: 28px;*/
  /*  width: @button-container-ld-width;*/
  width: 94px;
  margin: 90px 0 0 0;
  padding: 0 0 0 0;
}
.button-container-ld input,
.button-container input {
  height: 28px;
}
.button-item {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.form-wrapper-ld {
  display: flex;
  justify-content: flex-start;
  height: 118px;
}
.form-container-l {
  width: 236px;
  margin: 0 8px 0 0;
  padding: 8px;
}
.form-container-r {
  width: 236px;
  margin: 0 8px 0 0;
  padding: 8px;
}
.form-container-u {
  width: 112px;
  padding: 8px;
}
.form-container-l-label,
.form-container-r-label,
.form-container-u-label {
  padding: 6px 0 0 0;
  margin: 0 0 8px 0;
  text-align: center;
}
