@activelinkcolor: #4040B0;
@footerbg: #C0C0C0;
@footerfg: #404040;
@form-container-bg: #F8F8FF;
@form-container-label-bg: #E8E8EF;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.pagetitle {
  font-size: 18px;
}
.strapline {
  font-size: 14px;
  font-style: italic;
}
.pageheading {
  font-size: 16px;
}
.active {
  color: @activelinkcolor;
}
.link {
  text-decoration: none;
}
.footer {
  margin: 18px 0 0 0;
  padding: 8px 0 0 0;
  background: @footerbg;
  vertical-align: top;
  text-align: center;
  color: @footerfg;
  height: 50px;
}
.form-container-l, .form-container-r, .form-container-u {
  background: @form-container-bg;
}

#fmsubmbtn {
  font: bold 14px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}

.form-container-l-label, .form-container-r-label, .form-container-u-label {
  background:  @form-container-label-bg;
  height: 22px;
}
